$primary: #eb2f64;
$primary-light: #FF3366;
$primary-dark: #BA265D;

$grey-light-1: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #f0eeee;
$grey-light-4: #ccc;

$grey-dark-1: #333;
$grey-dark-2: #777;
$grey-dark-3: #999;

$color-white:#fff;

$font-family-main:'Open Sans';
$font-family-default: sans-serif;

$box-shadow-main-black:0 2rem 6rem rgba(0,0,0,0.3);